html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Frank Ruhl Libre', serif;
  direction: rtl;
  text-align: right;
  background-color: rgb(233, 231, 228);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(32, 24, 24);
  color: white;
  text-align: right;
}
/*
a:hover {
  font-weight: bold;
  font-size: larger; 
}
*/
ul.navbar-nav {
  padding-right: 0;
}

a.dropdown-item {
  padding: 4px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.popup .card-body {
  background-color: rgb(235, 149, 88);
  font-weight: 900;
  color: darkmagenta;
}

.table td,
.table th {
  padding: 3px;
  border-top: none;
}

.table thead th {
  border-bottom: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 3px;
  text-align: right;
}

.head-div {
  border-bottom: 1px solid black;
  width: 99%;
  height: 55px;
  margin: 3px;
  display: flex;
  justify-content: flex-end;
}

.head-div p {
  align-self: flex-end;
  margin: 0;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: black;
  font-weight: bold;
  text-align: right;
  font-size: large;
  text-decoration: underline;
  caption-side: top;
}

th {
  text-align: center;
}

.under-line {
  border-bottom: 1px solid;
}

.CircleBtn {
  border-radius: 50%;
  padding: 25px;
  font-weight: bold;
  color: black;
  margin-top: 80px;
}

.page-A4 {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  width: 21cm;
  height: 29.7cm;
}
.page[size='A4'] {
  width: 21cm;
  height: 29.7cm;
}
.page[size='A4'][layout='landscape'] {
  width: 29.7cm;
  height: 21cm;
}
@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}

/*
.page[size='A3'] {
  width: 29.7cm;
  height: 42cm;
}
.page[size='A3'][layout='landscape'] {
  width: 42cm;
  height: 29.7cm;
}
.page[size='A5'] {
  width: 14.8cm;
  height: 21cm;
}
.page[size='A5'][layout='landscape'] {
  width: 21cm;
  height: 14.8cm;
}

*/
