body {
  margin: 0;
  font-family: 'Frank Ruhl Libre', serif;
  direction: rtl;
  text-align: right;
  background-color: rgb(233, 231, 228);
}

ul.navbar-nav {
  padding-right: 0;
}

a.dropdown-item {
  padding: 4px;
}
